.scrollbar-transparent {
  /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0) transparent;
  scrollbar-width: thin;
}

/* For WebKit-based browsers (Chrome, Safari) */
.scrollbar-transparent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.year-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearence: none;

  background-image: url("/assets/ui/select-arrow.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
}
