@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* base colors */
  --base-gray: rgba(227, 227, 227, 1);
  --base-text: rgba(51, 51, 51, 1);

  /* Color scheme */
  --primary-light: rgba(240, 250, 244, 1);
  --primary-medium: rgba(111, 207, 151, 0.2);
  --primary: rgba(111, 207, 151, 1);
  --secondary-light: rgba(246, 250, 255, 1);
  --secondary: rgba(47, 128, 237, 1);

  /* Theme colors as per favicon */
  --theme-base: rgba(8, 36, 71, 1);
  --theme-text: rgba(111, 207, 151, 1);

  /* Component colors */
  --chip-selected-background: rgba(62, 62, 62, 1);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Open Sans", "Open_Sans", sans-serif;

  /*  */
  --color-base-gray: var(--base-gray);
  --color-base-text: var(--base-text);
  --color-primary-light: var(--primary-light);
  --color-primary-medium: var(--primary-medium);
  --color-primary: var(--primary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary: var(--secondary);

  /* Theme colors as per favicon */
  --color-theme-base: var(--theme-base);
  --color-theme-text: var(--theme-text);

  /* Component colors */
  --color-chip-selected-background: var(--chip-selected-background);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@import "../styles/dynamics.css";
@import "../styles/overwrites.css";

body {
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
